In [3]:
# Data Types

#Integers
x=5343
print("X value:-",x)
print(type(x))

a=324
print("a value:-",a)

X value:- 5343
<class 'int'>
a value:- 324

In [5]:
#float

f=235.34
print("f value:-",f)
print(type(f))

l=54.453
print("l value:-",l)

f value:- 235.34
<class 'float'>
l value:- 54.453

In [8]:
#complex

k=78674j
print("k value:-",k)
print(type(k))

t=34434j
print("t value:-",t)

k value:- 78674j
<class 'complex'>
t value:- 34434j

In [10]:
#boolean

s=16 
j=9
n=s<=j
print(n)
print(type(n))

num=10>9
print(num)

False
<class 'bool'>
True

In [13]:
#String

name="sindhu"
print(type(name))
print("Length:-",len(name))
print("Upper_case:-",name.upper())
print("Lower_case:-",name.lower())

#Slicing:-To get a range of characters
k="Python is a easy programming language"
print("Slicing:-",k[0:10]) #from 0 index to 10th index
print(k[5:])#we get whole string from 5th index
print(k[:12])#we get the output from 0 to the end point
print(k[ : ])#we get the whole string
print(k[0:15:2])#we get the output from 0 to 15 index and skips 2 indexs
print(k[: :-1])#Reversing a string
print(name.capitalize())#capitalize the first char in string
print(k.count('a'))#count of the specified value
print(name.find('y'))#finds index of the specified value
print(k.index('t'))#index number of the specified value
print(name.isalnum())
print(name.isalpha())
print(name.isdecimal())
print(name.islower())
print(name.isupper())
print(name.replace('u','h' ))
print(name.strip())
print(name.startswith('h'))
print(name.endswith('v'))
print(name.split())


#String Operations

a="Python"
b="programming"
print(a+" "+b)
print(a*3)
print(a+b*2)


#String Interpolation

k="Python"
p="YouTube"

c='You can learn %s easily at %s'%(k,p)
print(c)

x=f'You can learn {k} easily at {p}'
print(x)

z='you can learn {k} easily at {p}'.format(k=k,p=p)
print(z)

from string import Template
h=Template('you can learn $k easily at $p')
print(h.substitute(k=k,p=p))

<class 'str'>
Length:- 6
Upper_case:- SINDHU
Lower_case:- sindhu
Slicing:- Python is
n is a easy programming language
Python is a
Python is a easy programming language
Pto saes
egaugnal gnimmargorp ysae a si nohtyP
Sindhu
5
-1
2
True
True
False
True
False
sindhh
sindhu
False
False
['sindhu']
Python programming
PythonPythonPython
Pythonprogrammingprogramming
You can learn Python easily at YouTube
You can learn Python easily at YouTube
you can learn Python easily at YouTube
you can learn Python easily at YouTube

In [14]:
#List DataType

mylist=[223,'Python',284,'Programm',3353,'sindhu',865,'AIT',89.97,94j]
print(mylist)
print(mylist[1:4])
mylist[1]='Python programming' #replacing value
print(mylist)
mylist.append('complex')
print(mylist)
mylist.insert(4,'programming')
print(mylist)
mylist.reverse()
print(mylist)

[123, 'Python', 234, 'Programm', 2353, 'sindhu', 765, 'AIT', 87.87, 54j]
['Python', 234, 'Programm']
[123, 'Python programming', 234, 'Programm', 2353, 'sindhu', 765, 'AIT', 87.87, 54j]
[123, 'Python programming', 234, 'Programm', 2353, 'sindhu', 765, 'AIT', 87.87, 54j, 'complex']
[123, 'Python programming', 234, 'Programm', 'programming', 2353, 'sindhu', 765, 'AIT', 87.87, 54j, 'complex']
['complex', 54j, 87.87, 'AIT', 765, 'sindhu', 2353, 'programming', 'Programm', 234, 'Python programming', 123]

In [22]:
#Dictionary DataType

Courses={1:'C',2:'C++',3:'Java',4:'Python',5:'SQL',6:'Data Science'}
print(Courses)
print(Courses[5])
print(Courses.get(2))
Courses[6]='Data Analyst' #replacing or updating
print(Courses)
print(Courses[4])

{1: 'C', 2: 'C++', 3: 'Java', 4: 'Python', 5: 'SQL', 6: 'Data Science'}
SQL
C++
{1: 'C', 2: 'C++', 3: 'Java', 4: 'Python', 5: 'SQL', 6: 'Data Analyst'}
Python

In [26]:
#Tuple DataType

mahesh_movies=('khaleja','svsc','No1','okkadu','khaleja','murari','athadu')
print(mahesh_movies)
print(mahesh_movies.count('khaleja'))
print(mahesh_movies[5])

('khaleja', 'svsc', 'No1', 'okkadu', 'khaleja', 'murari', 'athadu')
2
murari

In [15]:
##Set Data-Type

myset={24,5464,123,'Python','mahesh','sindhu',354,4575}
print(myset)

{354, 'sindhu', 5464, 'Python', 24, 'mahesh', 123, 4575}

In [28]:
#Range DataType

range(0,10)
print(list(range(11)))

a=[345,67,23,789]
b={432,987,765,89}
c=[a,b]
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[[345, 67, 23, 789], {432, 89, 987, 765}]